<robot name="dumpUrdf">

	<link name="root">
	    <inertial>
	        <origin rpy="0 0 0" xyz="0.000000 0.0000 0.000000" />
	        <mass value="0.5" />
	        <inertia ixx="0.00135" ixy="0" ixz="0" iyy="0.00135" iyz="0" izz="0.00083" />
	    </inertial>
	    <collision>
	        <origin rpy="0 0 0" xyz="0.000000 0.0000 0.000000" />
	        <geometry>
	            <box size="0.1 0.1 0.15"/>
	        </geometry>
	    </collision>
	    <visual>
	        <origin rpy="0 0 0" xyz="0.000000 0.0000 0.000000" />
	        <geometry>
	            <box size="0.1 0.1 0.15"/>
	        </geometry>
	        <material name="black">
	            <color rgba="0 0 0 1"/>
	        </material>
	    </visual>
	</link>

	<link name="right_hip_intermediate">
	    <visual>
	        <origin rpy="1.5708 0 0" xyz="0.000000 -0.05 0.000000" />
	        <geometry>
	            <cylinder radius="0.05" length="0.13"/>
	        </geometry>
	        <material name="grey"/>
	    </visual>
	    <collision>
	        <origin rpy="1.5708 0 0" xyz="0.000000 0 0.000000" />
	        <geometry>
	            <cylinder radius="0.05" length="0.13"/>
	        </geometry>
	    </collision>
	    <inertial>
	        <mass value="0.5"/>
	        <origin rpy="0 0 0" xyz="0.000000 0 0.000000" />
	        <inertia
	            ixx="0.00102" ixy="0.0" ixz="0.0"
	            iyy="0.00063" iyz="0.0"
	            izz="0.00102"/>
	    </inertial>
	</link>

	<link name="right_femur">
	    <inertial>
	        <origin rpy="0 0 0" xyz="0.000000 -0.20000 0.000000" />
	        <mass value="1.00000" />
	        <inertia ixx="0.01074" ixy="0" ixz="0" iyy="0.01051" iyz="0" izz="0.00083" />
	    </inertial>
	    <collision>
	        <origin rpy="-1.57 0 0" xyz="0.000000 -0.20000 0.000000" />
	        <geometry>
	            <box size="0.06 0.08 0.35"/>
	        </geometry>
	    </collision>
	    <visual>
	        <origin rpy="-1.57 0 0" xyz="0.000000 -0.20000 0.000000" />
	        <geometry>
	            <box size="0.06 0.08 0.35"/>
	        </geometry>
	        <material name="mix">
	            <color rgba="0.75 0.75 0.75 1"/>
	        </material>
	    </visual>
	</link>

	<joint name="right_hip_yaw" type="revolute">
			<parent link="root"/>
			<child link="right_hip_intermediate"/>
			<origin rpy="0 0 0" xyz="0.000000 0.00000 0.12"/>
			<limit effort="15.0" lower="-0.7" upper="0" velocity="1.6"/>
			<axis xyz="0 1 0"/>
			<dynamics damping="0.5" friction="0.5"/>
	</joint>

	<joint name="right_hip_pitch" type="revolute" >
		<parent link="right_hip_intermediate" />
		<child link="right_femur" />
		<origin rpy = "0 0 0" xyz = "0.000000 -0.12000 0.0" />
		<limit effort="25.0" lower="-1.57" upper="1.57" velocity="1.6"/>
		<dynamics damping="0.5" friction="0.5"/>
		<axis xyz = "0.000000 0.000000 1.000000" />
	</joint>

	<link name="right_tibia">
	    <inertial>
	        <origin rpy="0 0 0" xyz="0.000000 -0.180000 0.000000" />
	        <mass value="1.00000" />
	        <inertia ixx="0.00803" ixy="0" ixz="0" iyy="0.00780" iyz="0" izz="0.00083" />
	    </inertial>
	    <collision>
	        <origin rpy="-1.57 0 0" xyz="0.000000 -0.180000 0.000000" />
	        <geometry>
	            <box size="0.06 0.08 0.30"/>
	        </geometry>
	    </collision>
	    <visual>
	        <origin rpy="-1.57 0 0" xyz="0.000000 -0.18000 0.000000" />
	        <geometry>
	            <box size="0.06 0.08 0.30"/>
	        </geometry>
	        <material name="IndexMaterial">
	            <color rgba="0.5 0.5 0.5 1"/>
	        </material>
	    </visual>
	</link>

	<joint name="right_knee" type="revolute" >
		<parent link="right_femur" />
		<child link="right_tibia" />
		<limit effort="25.0" lower="-2.5" upper="0." velocity="1.6"/>
		<dynamics damping="0.5" friction="0.5"/>
		<origin rpy = "0 0 0" xyz = "0.000000 -0.39 0.000000" />
		<axis xyz = "0.000000 0.000000 1.000000" />
	</joint>

	<link name="right_foot" >
		<inertial>
			<origin rpy = "0 0 0" xyz = "0.040000 -0.02000 0.000000" />
			<mass value = "0.250000" />
			<inertia ixx="0.00037" ixy="0" ixz="0" iyy="0.0014" iyz="0" izz="0.0012" />
		</inertial>
		<collision>
			<origin rpy = "0 0 0" xyz = "0.040000 -0.02000 0.000000" />
			<geometry>
				<box size="0.20000 0.020000 0.100000" />
			</geometry>
		</collision>
		<visual>
				<origin rpy = "0 0 0" xyz = "0.040000 -0.02000 0.000000" />
				<geometry>
					<box size="0.20000 0.020000 0.100000" />
				</geometry>
				<material name="mix">
						<color rgba="0.75 0.75 0.75 1"/>
				</material>
		</visual>
	</link>

	<joint name="right_ankle" type="revolute" >
		<parent link="right_tibia" />
		<child link="right_foot" />
		<origin rpy = "0 0 0" xyz = "0.000000 -0.39 0.000000" />
		<limit lower="-1.0" upper="1.0" effort="15" velocity="1.6"/>
		<dynamics damping="0.5" friction="0.5"/>
		<axis xyz = "0.000000 0.000000 1.000000" />
	</joint>

	<link name="left_hip_intermediate">
	    <visual>
	        <origin rpy="1.5708 0 0" xyz="0.000000 -0.05 0.000000" />
	        <geometry>
	            <cylinder radius="0.05" length="0.13"/>
	        </geometry>
	        <material name="grey">
	            <color rgba="0.5 0.5 0.5 1"/>
	        </material>
	    </visual>
	    <collision>
	        <origin rpy="1.5708 0 0" xyz="0.000000 0 0.000000" />
	        <geometry>
	            <cylinder radius="0.05" length="0.13"/>
	        </geometry>
	    </collision>
	    <inertial>
	        <mass value="0.5"/>
	        <origin xyz="0 0 0" rpy="0 0 0"/>
	        <inertia
	            ixx="0.00102" ixy="0.0" ixz="0.0"
	            iyy="0.00063" iyz="0.0"
	            izz="0.00102"/>
	    </inertial>
	</link>

	<link name="left_femur">
	    <inertial>
	        <origin rpy="0 0 0" xyz="0.000000 -0.20000 0.000000" />
	        <mass value="1.00000" />
	        <inertia ixx="0.01074" ixy="0" ixz="0" iyy="0.01051" iyz="0" izz="0.00083" />
	    </inertial>
	    <collision>
	        <origin rpy="-1.57 0 0" xyz="0.000000 -0.20000 0.000000" />
	        <geometry>
	            <box size="0.06 0.08 0.35"/>
	        </geometry>
	    </collision>
	    <visual>
	        <origin rpy="-1.57 0 0" xyz="0.000000 -0.20000 0.000000" />
	        <geometry>
	            <box size="0.06 0.08 0.35"/>
	        </geometry>
	        <material name="mix">
	            <color rgba="0.75 0.75 0.75 1"/>
	        </material>
	    </visual>
	</link>

	<joint name="left_hip_yaw" type="revolute">
			<parent link="root"/>
			<child link="left_hip_intermediate"/>
			<origin rpy="0 0 0" xyz="0.000000 0.000000 -0.12"/>
			<limit effort="15.0" lower="-0" upper="0.7" velocity="1.6"/>
			<axis xyz="0 1 0"/>
			<dynamics damping="0.5" friction="0.5"/>
	</joint>

	<joint name="left_hip_pitch" type="revolute" >
		<parent link="left_hip_intermediate" />
		<child link="left_femur" />
		<origin rpy = "0 0 0" xyz = "0.000000 -0.120000 0.0" />
		<limit effort="25.0" lower="-1.57" upper="1.57" velocity="1.6"/>
		<dynamics damping="0.5" friction="0.5"/>
	  <axis xyz = "0.000000 0.000000 1.000000" />
	</joint>

	<link name="left_tibia">
	    <inertial>
	        <origin rpy="0 0 0" xyz="0.000000 -0.18000 0.000000" />
	        <mass value="1.000000" />
	        <inertia ixx="0.00803" ixy="0" ixz="0" iyy="0.00780" iyz="0" izz="0.00083" />
	    </inertial>
	    <collision>
	        <origin rpy="-1.57 0 0" xyz="0.000000 -0.18000 0.000000" />
	        <geometry>
	            <box size="0.06 0.08 0.30"/>
	        </geometry>
	    </collision>
	    <visual>
	        <origin rpy="-1.57 0 0" xyz="0.000000 -0.18000 0.000000" />
	        <geometry>
	            <box size="0.06 0.08 0.30"/>
	        </geometry>
	        <material name="IndexMaterial">
	            <color rgba="0.5 0.5 0.5 1"/>
	        </material>
	    </visual>
	</link>

	<joint name="left_knee" type="revolute" >
		<parent link="left_femur" />
		<child link="left_tibia" />
		<limit effort="25.0" lower="-2.5" upper="0." velocity="1.6"/>
		<dynamics damping="0.5" friction="0.5"/>
		<origin rpy = "0 0 0" xyz = "0.000000 -0.39 0.000000" />
		<axis xyz = "0.000000 0.000000 1.000000" />
	</joint>

	<link name="left_foot" >
		<inertial>
			<origin rpy = "0 0 0" xyz = "0.040000 -0.02000 0.000000" />
			<mass value = "0.2500000" />
			<inertia ixx="0.00037" ixy="0" ixz="0" iyy="0.0014" iyz="0" izz="0.0012" />
		</inertial>
		<collision>
			<origin rpy = "0 0 0" xyz = "0.040000 -0.02000 0.000000" />
			<geometry>
				<box size="0.20000 0.020000 0.100000" />
			</geometry>
		</collision>
		<visual>
				<origin rpy = "0 0 0" xyz = "0.040000 -0.02000 0.000000" />
				<geometry>
					<box size="0.20000 0.020000 0.10000" />
				</geometry>
				<material name="mix">
						<color rgba="0.75 0.75 0.75 1"/>
				</material>
		</visual>
	</link>

	<joint name="left_ankle" type="revolute" >
		<parent link="left_tibia" />
		<child link="left_foot" />
		<origin rpy = "0 0 0" xyz = "0.000000 -0.39 0.000000" />
		<limit lower="-1.0" upper="1.0" effort="15" velocity="1.6"/>
		<dynamics damping="0.5" friction="0.5"/>
		<axis xyz = "0.000000 0.000000 1.000000" />
	</joint>

</robot>
 
